nav{

    position: absolute;
    left: 50%;
    transform: translatex(-50%);

}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    background-color: rgb(199, 143, 22);

}

li{
    float: right;
    
}

li a{

    display: block;
    color: white;
    text-align: center;
    padding: 0px 50px;
    text-decoration: none;
    line-height: normal;
}

li a:hover {
    background-color: rgb(209, 192, 97);
  }